## 실습 및 데이터셋 소개

1. 간단한 word2vec 모델 활용 및 embedding을 활용한 계산 법 익히기
2. 다양한 embedding 모델을 실제 활용하면서 현재 데이터의 retrieval 성능 체크
3. Search 이외에도 embedding을 활용할 수 있는 다양한 방법 소개
4. Embedding을 활용한 간단한 서비스 구현 (search 최적화)
---

# 1. The Simpsons dataset

#### 데이터 소개 : 심슨 등장 인물들의 대화를 담은 데이터 셋
#### 데이터 활용 목적 : 대화 분석을 통해 단어들간의 관계를 파악

![](https://images.edrawmax.com/what-is/simpsons-family-tree/example.png) <br>
출처 : https://images.edrawmax.com/what-is/simpsons-family-tree/example.png

- 다운로드 : https://www.kaggle.com/datasets/pierremegret/dialogue-lines-of-the-simpsons?resource=download

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('simpsons_dataset.csv')
df.shape

(158314, 2)

In [3]:
df.head()

        raw_character_text                                       spoken_words
0              Miss Hoover  No, actually, it was a little of both. Sometim...
1             Lisa Simpson                             Where's Mr. Bergstrom?
2              Miss Hoover  I don't know. Although I'd sure like to talk t...
3             Lisa Simpson                         That life is worth living.
4  Edna Krabappel-Flanders  The polls will be open from now until the end ...

In [4]:
from collections import Counter

In [5]:
counts = Counter(df['raw_character_text'])

In [6]:
counts.most_common()

[('Homer Simpson', 29782),
 (nan, 17814),
 ('Marge Simpson', 14141),
 ('Bart Simpson', 13759),
 ('Lisa Simpson', 11489),
 ('C. Montgomery Burns', 3162),
 ('Moe Szyslak', 2862),
 ('Seymour Skinner', 2438),
 ('Ned Flanders', 2144),
 ('Grampa Simpson', 1880),
 ('Milhouse Van Houten', 1862),
 ('Chief Wiggum', 1830),
 ('Krusty the Clown', 1768),
 ('Nelson Muntz', 1172),
 ('Lenny Leonard', 1166),
 ('Apu Nahasapeemapetilon', 1006),
 ('Waylon Smithers', 996),
 ('Kent Brockman', 891),
 ('Carl Carlson', 883),
 ('Edna Krabappel-Flanders', 739),
 ('Dr. Julius Hibbert', 691),
 ('Barney Gumble', 611),
 ('Selma Bouvier', 611),
 ('Sideshow Bob', 576),
 ('Rev. Timothy Lovejoy', 558),
 ('Crowd', 540),
 ('Groundskeeper Willie', 534),
 ('Gary Chalmers', 523),
 ('Ralph Wiggum', 507),
 ('Mayor Joe Quimby', 503),
 ('Patty Bouvier', 479),
 ('Comic Book Guy', 478),
 ('Otto Mann', 423),
 ('Martin Prince', 409),
 ('Announcer', 387),
 ('Kids', 365),
 ('Jimbo Jones', 357),
 ('Sideshow Mel', 352),
 ('Lou', 350),
 ('Professor Jonathan Frink', 340),
 ('Kearney Zzyzwicz', 280),
 ('Fat Tony', 280),
 ('Agnes Skinner', 263),
 ('Snake Jailbird', 243),
 ('Kirk Van Houten', 241),
 ('Cletus Spuckler', 231),
 ('DOLPH', 201),
 ('Todd Flanders', 199),
 ('Audience', 177),
 ('Lionel Hutz', 161),
 ('Miss Hoover', 159),
 ('Gil Gunderson', 159),
 ('Narrator', 156),
 ('The Rich Texan', 153),
 ('Captain Horatio McCallister', 146),
 ('Manjula Nahasapeemapetilon', 145),
 ('HERB', 141),
 ('Jasper Beardly', 140),
 ('Judge Snyder', 133),
 ('Maude Flanders', 132),
 ('Rod Flanders', 132),
 ('Maggie Simpson', 125),
 ('Rainier Wolfcastle', 124),
 ('Adult Bart', 124),
 ('Helen Lovejoy', 123),
 ('Troy McClure', 122),
 ('Mona Simpson', 121),
 ('Kang', 120),
 ('Man', 114),
 ('Kodos', 109),
 ('Dr. Nick Riviera', 108),
 ('Louie', 106),
 ('Woman', 105),
 ('TROY', 101),
 ('Luann Van Houten', 99),
 ('Eddie', 97),
 ('Scratchy', 95),
 ('Lurleen Lumpkin', 95),
 ('Young Homer', 95),
 ("Homer's Brain", 93),
 ('Declan Desmond', 93),
 ('Blue-Haired Lawyer', 91),
 ('Lindsay Naegle', 91),
 ('Duffman', 89),
 ('Hans Moleman', 86),
 ('Luigi', 85),
 ('Old Jewish Man', 85),
 ('Squeaky-Voiced Teen', 83),
 ('Dewey Largo', 83),
 ('Brandine Del Roy', 83),
 ('Mary', 83),
 ('Michael', 81),
 ('Jacques', 81),
 ('Lady Gaga', 78),
 ('Rabbi Hyman Krustofsky', 76),
 ('BUCK', 75),
 ("Santa's Little Helper", 74),
 ('Annie Crawford', 74),
 ('Artie Ziff', 73),
 ('Young Marge', 72),
 ('Young Grampa', 71),
 ('Director', 69),
 ('George H.W. Bush', 69),
 ('Adult Lisa', 69),
 ('Marty', 68),
 ('Townspeople', 68),
 ('Dan Gillick', 68),
 ('Larry', 66),
 ('Salesman', 64),
 ('Itchy', 63),
 ('Dr. Marvin Monroe', 62),
 ('Tour Guide', 62),
 ('Terri Mackleberry', 61),
 ('Clerk', 61),
 ('Female Executive', 60),
 ('TV Announcer', 59),
 ('Nurse', 59),
 ('God', 59),
 ('Judge Harm', 59),
 ('Shauna Chalmers', 59),
 ('Sherri Mackleberry', 58),
 ('Colonel', 58),
 ('Frank Grimes', 58),
 ('BERGSTROM', 57),
 ('Ray Magini', 57),
 ('Manager', 56),
 ('Roger Meyers, Jr.', 55),
 ('Jay', 55),
 ('Producer', 55),
 ('Bill', 54),
 ('Dr. J. Loren Pyror', 54),
 ('Bumblebee Man', 54),
 ('Waiter', 54),
 ('Hank Scorpio', 54),
 ('Drederick Tatum', 54),
 ('Cheech', 54),
 ('Database', 53),
 ('Teacher', 52),
 ('Executive', 51),
 ("Lisa's Thoughts", 51),
 ('Bender', 51),
 ('ELON MUSK', 51),
 ('John', 50),
 ('Principal Dondelinger', 50),
 ('Cecil Terwilliger', 50),
 ('Little Vicki', 50),
 ('Guard', 49),
 ('All', 49),
 ('Kurt Hardwick', 49),
 ('Wayne', 49),
 ('Herman Hermann', 48),
 ('Julio', 48),
 ('Ethan Foley', 48),
 ('Teenage Bart', 48),
 ('Pilot', 47),
 ('JANEY', 47),
 ('Raymondo', 47),
 ('CHLOE', 46),
 ('Charles Heathbar', 46),
 ('Gloria', 45),
 ('Singers', 45),
 ('HUGH', 45),
 ('Disco Stu', 45),
 ('Eduardo', 45),
 ('Jack', 45),
 ('Akira', 44),
 ('Voice', 44),
 ('Jacqueline Bouvier', 44),
 ('Baseball Announcer', 44),
 ('Armin', 44),
 ('Zack', 44),
 ("Homer's Thoughts", 44),
 ('LANLEY', 43),
 ('Warden', 43),
 ('L.T. Smash', 42),
 ('10-Year-Old Homer', 41),
 ('Coach Krupt', 41),
 ('Diggs', 41),
 ('Security Guard', 40),
 ('Dwight', 40),
 ('Prof. August', 40),
 ('Bar Rag', 40),
 ('Mindy', 39),
 ('SHARY', 39),
 ('Cat Lady', 39),
 ('Hobo', 39),
 ('Tab Spangler', 39),
 ('Dr. Zander', 39),
 ('Barflies', 38),
 ('Ben', 38),
 ('Ron Howard', 38),
 ('Chazz Busby', 38),
 ('Sara Sloane', 37),
 ('Girl', 36),
 ('Becky', 36),
 ('ARTIE', 36),
 ('Auctioneer', 36),
 ('Jessica', 36),
 ('Cooder', 36),
 ('Glen', 36),
 ('Pierce Brosnan', 36),
 ('THE REAL BOB', 36),
 ('KRABAPPEL', 36),
 ('Host', 35),
 ('Football Announcer', 35),
 ('Renee', 35),
 ('Young Burns', 35),
 ('Emily', 35),
 ('Isabel Gutierrez', 35),
 ('Reporter', 34),
 ('Lunchlady Doris', 34),
 ('Arnie Pye', 34),
 ('Laura Powers', 34),
 ('RUTH', 34),
 ('Bill Clinton', 34),
 ('Alec Baldwin', 34),
 ('Mrs. Muntz', 34),
 ('Eliza', 34),
 ('MAXINE LOMBARD', 34),
 ('Teenage Homer', 34),
 ('Boy', 33),
 ('Father', 33),
 ('Alex', 33),
 ('Kim Basinger', 33),
 ('Simon', 33),
 ('Karl', 33),
 ('Girls', 32),
 ('Saleswoman', 32),
 ('Ms. Cantwell', 32),
 ('KEMI', 32),
 ('Mrs. Glick', 31),
 ('Legs', 31),
 ('Farmer', 31),
 ('Receptionist', 31),
 ('Women', 31),
 ('Chester Lampwick', 31),
 ('Donny', 31),
 ('Commandant', 31),
 ('Colt', 31),
 ('Henry VIII', 31),
 ('Gina Vendetti', 31),
 ('Kirk Voice Milhouse', 31),
 ('Radioactive Man', 30),
 ('Everyone', 30),
 ('Bartender', 30),
 ('Charlie', 30),
 ('Interviewer', 30),
 ('Cashier', 30),
 ('Workers', 30),
 ('Jesse Grass', 30),
 ('Howard K. Duff VIII', 30),
 ('TEN-YEAR-OLD MARGE', 30),
 ('Father Sean', 30),
 ('MASON', 30),
 ('Juliet Hobbes', 30),
 ('McBain', 30),
 ('Class', 29),
 ('Mother', 29),
 ('Nigel Bakerbutcher', 29),
 ('Krusty Doll', 29),
 ('Edward', 29),
 ('Male Executive', 29),
 ('Roofi', 29),
 ('Lunchlady Dora', 29),
 ('Princess Penelope', 29),
 ('MR. LASSEN', 29),
 ('BLEEDING GUMS', 29),
 ('Captain', 28),
 ('Employee', 28),
 ('Santa Claus', 28),
 ('Vendor', 28),
 ('Congregation', 28),
 ('Dr. Foster', 28),
 ('Mark Hamill', 28),
 ('Cookie Kwan', 28),
 ('Cowboy Bob', 28),
 ('Patrick', 28),
 ('Fbi Supervisor', 28),
 ('Chong', 28),
 ('Gulliver Dark', 27),
 ('Llewellyn Sinclair', 27),
 ('Devil', 27),
 ('Technician', 27),
 ('Wally', 27),
 ('Meathook', 27),
 ('Ghost Homer', 27),
 ('Sophie', 27),
 ('Greta Wolfcastle', 27),
 ('George Plimpton', 27),
 ('Parson', 27),
 ('Lyle McCarthy', 27),
 ('MOOG', 27),
 ('Doctor', 26),
 ('Robot', 26),
 ('Track Announcer', 26),
 ('Attendant', 26),
 ('STILLWATER', 26),
 ('Brother Faith', 26),
 ('Johnny Tightlips', 26),
 ('Mick Jagger', 26),
 ('Captain Jack', 26),
 ('Jenny', 26),
 ('Amber Dempsey', 25),
 ('Boys', 25),
 ('Gary', 25),
 ('HURLBUT', 25),
 ('Maya', 25),
 ('Walther Hotenhoffer', 25),
 ('Avatar Bart', 25),
 ('Roz', 25),
 ('CAIN', 25),
 ('GRETCHEN', 25),
 ('Lucas', 25),
 ('DANIELSON', 25),
 ('Orderly', 24),
 ('Cesar', 24),
 ('Doug', 24),
 ('GOODMAN', 24),
 ('Birch Barlow', 24),
 ('Agent Johnson', 24),
 ('Belle', 24),
 ('Witch', 24),
 ('Stan Lee', 24),
 ('Grady', 24),
 ('Inspector Wiggum', 24),
 ('Elf Marge', 24),
 ('Colby', 24),
 ('Nikki McKenna', 24),
 ('Terence', 24),
 ('PROFESSOR FARNSWORTH', 24),
 ('Dealer', 23),
 ('Aide', 23),
 ('Nick', 23),
 ('Tammy', 23),
 ('Samantha Stanky', 23),
 ('Allison', 23),
 ('Mrs. McConnell', 23),
 ("Marge's Thoughts", 23),
 ('Bligh', 23),
 ('Darcy', 23),
 ('Jakob', 23),
 ('Yutaka', 23),
 ('Wiseguy', 22),
 ('Instructor', 22),
 ('Photographer', 22),
 ('Angel', 22),
 ('Coach', 22),
 ('James Woods', 22),
 ('Stan', 22),
 ('Rex Banner', 22),
 ('Sgt. Skinner', 22),
 ('Munchie', 22),
 ('Sheriff', 22),
 ('Kitenge', 22),
 ('Gabriel', 22),
 ('Giuseppe', 22),
 ('Madam Wu', 22),
 ('TABITHA', 22),
 ('The Vamp', 22),
 ('Chett', 22),
 ('Delroy', 22),
 ('Martha Stewart', 22),
 ('Rowan Priddis', 22),
 ('MEYERS', 22),
 ('Teller', 21),
 ('Worker', 21),
 ('Waitress', 21),
 ('Dave Shutton', 21),
 ('Radio Announcer', 21),
 ('Dr. Zweig', 21),
 ('Mitchell', 21),
 ('Betty White', 21),
 ('Casino Manager', 21),
 ('King', 21),
 ('Richard Dean Anderson', 21),
 ('Lloyd', 21),
 ('Rev. Hooper', 21),
 ('BROCKMAN', 21),
 ('G. K. Willington', 21),
 ('BARBARA', 20),
 ('David', 20),
 ('TOM', 20),
 ('Gabbo', 20),
 ('Announcer #2', 20),
 ('Little Boy', 20),
 ('Detective', 20),
 ("Apu's Mother", 20),
 ('Bernice Hibbert', 20),
 ('Mr. Teeny', 20),
 ('Seth', 20),
 ('Lifeways Editor', 20),
 ('Rachel Jordan', 20),
 ('Tony Hawk', 20),
 ('Goose Gladwell', 20),
 ('Dr. Swanson', 20),
 ('Sid', 20),
 ('Psychiatrist', 19),
 ('Dave', 19),
 ('Fbi Agent #1', 19),
 ('Lewis Clark', 19),
 ('Horst', 19),
 ('Driver', 19),
 ('Mike Scioscia', 19),
 ('Reporters', 19),
 ('Stacy Lovell', 19),
 ('ZOO OWNER', 19),
 ('Gary Coleman', 19),
 ('Paul Bunyan', 19),
 ('Huck Finn', 19),
 ('Hamlet Bart', 19),
 ('Frink Senior', 19),
 ('Salieri', 19),
 ('Teenage Lisa', 19),
 ('Shady', 19),
 ('Sylvia', 19),
 ('Steve Mobbs', 19),
 ('Viktor', 19),
 ('Slick Publisher', 19),
 ('RITA', 19),
 ('Zhenya', 19),
 ('SVEN-GOLLY', 19),
 ('Adil Hoxha', 19),
 ('Lucille Botzcowski', 19),
 ('Teachers', 18),
 ('Foreman', 18),
 ('Freddy', 18),
 ('Shelby', 18),
 ('Officer Goodman', 18),
 ('Evelyn', 18),
 ('Park Ranger', 18),
 ('Businessman', 18),
 ('Jim Hope', 18),
 ('Dr. Velimirovic', 18),
 ('Springfielders', 18),
 ('Jenda', 18),
 ('Teenage Milhouse', 18),
 ('Ron Rabinowitz', 18),
 ('Alberto', 18),
 ('Robert Marlowe', 18),
 ('T-Rex', 18),
 ('Chef Naziwa', 18),
 ('Slava', 18),
 ('Adult Jenda', 18),
 ('CAPTAIN BOWDITCH', 18),
 ('Ms. Melon', 18),
 ('V.O.', 18),
 ('BEA', 18),
 ('Conductor', 17),
 ('Miss Crowley', 17),
 ('Bear', 17),
 ('Delivery Man', 17),
 ('Lawyer', 17),
 ('Dr. Wolfe', 17),
 ("Bart's Thoughts", 17),
 ('Actor', 17),
 ('Mob', 17),
 ('Accountant', 17),
 ('Dr. Babcock', 17),
 ('Erin', 17),
 ('Ranger', 17),
 ('Captain Tenille', 17),
 ('Cow', 17),
 ('TRENT', 17),
 ('Lucy Lawless', 17),
 ('Rachel', 17),
 ('Tom Brokaw', 17),
 ('Mrs. Bellamy', 17),
 ('Stark Richdale', 17),
 ('HOWELL HUSER', 17),
 ('Milo', 17),
 ('Royce', 17),
 ('Mother Superior', 17),
 ('Marshall Goldman', 17),
 ('Dr. Kissingher', 17),
 ('Portia', 17),
 ('Janet Reno', 17),
 ('Kumiko', 17),
 ('Antonio', 17),
 ('Booth', 17),
 ('Young Krusty', 17),
 ('Wendell Borton', 16),
 ('Guard #1', 16),
 ('Wife', 16),
 ('Neil', 16),
 ('Bleeding Gums Murphy', 16),
 ('Campers', 16),
 ('Bailiff', 16),
 ('Professor', 16),
 ('Benjamin', 16),
 ('BUZZ', 16),
 ('Number One', 16),
 ('Stonecutters', 16),
 ('Dj', 16),
 ('Bullies', 16),
 ('Ginger', 16),
 ('Moses/milhouse', 16),
 ('Gameshow Host', 16),
 ('Mr. Costington', 16),
 ('Todd Linux', 16),
 ('Keith Richards', 16),
 ('David Byrne', 16),
 ('Luke', 16),
 ('Roger', 16),
 ('Caleb Thorn', 16),
 ('Therapist', 16),
 ('Joseph', 16),
 ('Snow White', 16),
 ('Hiram', 16),
 ('THE REAL WALT', 16),
 ('Miss Lois Pennycandy', 15),
 ('Female Announcer', 15),
 ('Soldier #1', 15),
 ('Mailman', 15),
 ('Pepi', 15),
 ('JOHNNY', 15),
 ('Stage Manager', 15),
 ('Workman', 15),
 ('Diner Owner', 15),
 ('Dog', 15),
 ('Ãœter', 15),
 ('Trainer', 15),
 ('Evan Conover', 15),
 ('Rick', 15),
 ('Magician', 15),
 ('Gun Clerk', 15),
 ('Spud', 15),
 ('Dennis Conroy', 15),
 ('Ak', 15),
 ('Roger Daltrey', 15),
 ('Number 2', 15),
 ('Tom Sawyer', 15),
 ('Announcer #1', 15),
 ('Carrie', 15),
 ('Homer Double', 15),
 ('Sacagawea', 15),
 ('Nancy', 15),
 ("Tom O'Flanagan", 15),
 ('Queen Elizabeth', 15),
 ('Erik', 15),
 ('Rachel Maddow', 15),
 ('KLAUS ZIEGLER', 15),
 ('Arnold', 14),
 ('P.A. Announcer', 14),
 ('Librarian', 14),
 ('Alien', 14),
 ('Prosecutor', 14),
 ('Kid', 14),
 ('Insurance Agent', 14),
 ('Billy', 14),
 ('Reporter #1', 14),
 ('Dean Bobby Peterson', 14),
 ('Croupier', 14),
 ('Don Vitorio', 14),
 ('Supervisor', 14),
 ('Simpsons', 14),
 ('Macarthur Parker', 14),
 ('Chase', 14),
 ('Minister', 14),
 ('Guys', 14),
 ('Jockey #1', 14),
 ('Joan Bushwell', 14),
 ('Mesmerino', 14),
 ('Richard Gere', 14),
 ('MOTHERLOVING', 14),
 ('Store Manager', 14),
 ('Officer Krackney', 14),
 ('Clay', 14),
 ('Gino', 14),
 ('Recruiter #1', 14),
 ('Annette', 14),
 ('Jim Jarmusch', 14),
 ('Little Homer', 14),
 ('Bob Costas', 14),
 ('Virgil Simpson', 14),
 ('Vampire Dad', 14),
 ('Cregg Demon', 14),
 ('KAMALA', 14),
 ('House', 14),
 ('Professor Lombardo', 14),
 ('Customer', 13),
 ("Maitre D'", 13),
 ('UGOLIN', 13),
 ('Bum', 13),
 ('Abraham Lincoln', 13),
 ('Pig', 13),
 ('Cat', 13),
 ('Hitler', 13),
 ('Box Executive', 13),
 ('Al', 13),
 ('Snowball II', 13),
 ('Parents', 13),
 ('Coyote', 13),
 ('Cadet Larsen', 13),
 ('Brad', 13),
 ('Pharaoh Skinner', 13),
 ('Seniors', 13),
 ('WILLIAM', 13),
 ('Qtoktok', 13),
 ('Female Researcher', 13),
 ('Prof. Huntington', 13),
 ('Tina', 13),
 ('Mitch', 13),
 ('ROBOT WARS ANNOUNCER #1', 13),
 ('Mozart', 13),
 ('Nash Castor', 13),
 ('Commissioner', 13),
 ('Female Singer', 13),
 ('Moezekiel', 13),
 ('Marbles', 13),
 ('George W. Bush', 13),
 ('Ted Nugent', 13),
 ('Old Italian Man', 13),
 ('Director #1', 13),
 ('Gwendolyn', 13),
 ('Michelle Obama', 13),
 ('Edmund', 13),
 ('Herman Millwood', 13),
 ('Adult Milhouse', 13),
 ('Le Duc', 13),
 ('Jennifer', 13),
 ('Midwestern Dad', 13),
 ('Deputy Director Gratman', 13),
 ('Tony Bennett', 13),
 ('Joey', 12),
 ('Flight Attendant', 12),
 ('Secretary', 12),
 ('Female Voice', 12),
 ('Little Man', 12),
 ('Teenager', 12),
 ('Kevin', 12),
 ('British Commentator', 12),
 ('Collette', 12),
 ('Broker', 12),
 ('Darryl Strawberry', 12),
 ('Students', 12),
 ('Usher', 12),
 ('Old Woman', 12),
 ('Assistant', 12),
 ('Men', 12),
 ('Scientist', 12),
 ('Optometrist', 12),
 ('Ashley', 12),
 ('LUCIUS', 12),
 ('June', 12),
 ('Chauffeur', 12),
 ('Leprechaun', 12),
 ('Janitor', 12),
 ('Elton John', 12),
 ('Astrid Weller', 12),
 ('Arthur Fortune', 12),
 ('HAWKING', 12),
 ('Britney Spears', 12),
 ('Helen Morehouse', 12),
 ('Game Show Host', 12),
 ('Tom Petty', 12),
 ('Temperance', 12),
 ('Tom Wolfe', 12),
 ('24-Year-Old Homer', 12),
 ('District Attorney', 12),
 ('Denis Leary', 12),
 ('Amid', 12),
 ('Colonel Burns', 12),
 ('Chief Magistrate', 12),
 ('King Nelson', 12),
 ('Fitness Salesman', 12),
 ('Mav', 12),
 ('Ken', 12),
 ('STIG', 12),
 ('INTELLECTUAL ALIEN', 12),
 ('ALBERT', 12),
 ('ROGER MYERS, JR.', 12),
 ('HELEN', 11),
 ('Guard #2', 11),
 ('Guide', 11),
 ('Man #2', 11),
 ('Chuck', 11),
 ('Official', 11),
 ('Weasel #1', 11),
 ('HARV', 11),
 ('Scott Christian', 11),
 ('Bus Driver', 11),
 ('Vet', 11),
 ('Bob Hope', 11),
 ('Shopkeeper', 11),
 ('Old Man', 11),
 ('Cameraman', 11),
 ('Bag Boy', 11),
 ('Bobby Mindich', 11),
 ('Barry White', 11),
 ('Sarah Wiggum', 11),
 ("Woman's Voice", 11),
 ('Dean', 11),
 ('Audience Member', 11),
 ('Executive #2', 11),
 ('Plumber', 11),
 ('Angry Dad', 11),
 ('Fox Mulder', 11),
 ('Moderator', 11),
 ('Fantastic Dan', 11),
 ('Jane', 11),
 ('PENN', 11),
 ('Ramrod', 11),
 ('Clay Babcock', 11),
 ('Snorky', 11),
 ('Lugash', 11),
 ('Young Moe', 11),
 ('Robot #1', 11),
 ('Homeless Man', 11),
 ('H.K. Duff', 11),
 ('Grant Connor', 11),
 ('Alcatraaaz', 11),
 ('Verity', 11),
 ('Dr. Egoyan', 11),
 ('Indian Workers', 11),
 ('Teenage Marge', 11),
 ('Good-looking Bachelor', 11),
 ('T.R. Francis', 11),
 ('8-Year-Old Homer', 11),
 ('Shadow Knight', 11),
 ('Husband #2', 11),
 ('Bonnie', 11),
 ('Clyde', 11),
 ('Mina', 11),
 ('Mr. Toohey', 11),
 ('Director #2', 11),
 ('Dick', 11),
 ('Gendarme', 11),
 ('Dr. Thurston', 11),
 ('Taffy', 11),
 ('James Madison', 11),
 ('Shepard Fairey', 11),
 ('Fat In The Hat', 11),
 ('Male Singer', 11),
 ('Alien Woman', 11),
 ('TRUDY ZENGLER', 11),
 ('LEELA', 11),
 ('MURDOCK', 11),
 ('Jack Larson', 10),
 ('Fbi Agent #2', 10),
 ('D.J.', 10),
 ('Stagehand', 10),
 ('Woman #2', 10),
 ('Millicent', 10),
 ('Repo Man', 10),
 ('Bret', 10),
 ('JIMMY', 10),
 ('Sanjay Nahasapeemapetilon', 10),
 ('Mr. Black', 10),
 ('Mrs. Powers', 10),
 ('Reporter #2', 10),
 ('Newsreel Announcer', 10),
 ('Molloy', 10),
 ('Malibu Stacy', 10),
 ('Young Man', 10),
 ('Engineer', 10),
 ('Protesters', 10),
 ('Trucker #2', 10),
 ('Mr. T', 10),
 ('Plastic Surgeon', 10),
 ('Prime Minister', 10),
 ('Adult Nelson', 10),
 ('Rory', 10),
 ('Jebediah Springfield', 10),
 ('Paramedic', 10),
 ('Dana Scully', 10),
 ('Frank Ormand', 10),
 ('Elderly Woman', 10),
 ('Tommy', 10),
 ('Zookeeper', 10),
 ('Society Matron', 10),
 ('Drill Instructor', 10),
 ('Castro', 10),
 ('Leavelle', 10),
 ('New Age Clerk', 10),
 ('Jerry Rude', 10),
 ('Researcher #2', 10),
 ('Dr. Stephen Hawking', 10),
 ('Gypsy', 10),
 ('Mountain Man', 10),
 ('Little Richard', 10),
 ('Marriage Counselor', 10),
 ('Death', 10),
 ('Curator', 10),
 ('Captain Mordecai', 10),
 ('Indigent Man', 10),
 ('Mr. Muntz', 10),
 ('Veronica', 10),
 ('Demon', 10),
 ('Sister Thomasina', 10),
 ('Myra', 10),
 ('Spanish P.A. Announcer', 10),
 ('FLANDISH', 10),
 ('Fletcher Christian', 10),
 ('Skinny', 10),
 ('Opal', 10),
 ('Jack Bauer', 10),
 ('Troll Moe', 10),
 ('Joe Laboot', 10),
 ('Memory Marge', 10),
 ('CAMPAIGN ANNOUNCER', 10),
 ('Bouncer', 10),
 ('Evil Queen', 10),
 ('Wilbur', 10),
 ('Mabel', 10),
 ('Gps', 10),
 ('Ron Finkelsteinberg', 10),
 ('Simon Cowell', 10),
 ('Fit Tony', 10),
 ('Ms. Juniper', 10),
 ('Amuse Bruce', 10),
 ('Neil Gaiman', 10),
 ('Female Marketing Executive', 10),
 ('Drug Lord', 10),
 ('ZOMBIE MILHOUSE', 10),
 ('KING TOOT', 10),
 ('Toshiro', 10),
 ('Head Engineer', 10),
 ('Dad', 9),
 ('Thomas Jefferson', 9),
 ('Johnny Carson', 9),
 ('Justice Of The Peace', 9),
 ('Umpire', 9),
 ('Female Singers', 9),
 ("Smokin' Joe Frazier", 9),
 ('Little Girl', 9),
 ('Company', 9),
 ('Actress', 9),
 ('Ramona', 9),
 ('Owner', 9),
 ('Soldier #2', 9),
 ('MCCLURE', 9),
 ('Truck Driver', 9),
 ('Richard Nixon', 9),
 ('Senator Mendoza', 9),
 ('Mechanic', 9),
 ('Mrs. Quimby', 9),
 ('Race', 9),
 ('Priest', 9),
 ('Children', 9),
 ('Trucker #1', 9),
 ('Ambassador', 9),
 ('Ballet Teacher', 9),
 ('Mel Brooks', 9),
 ('Mickey Rooney', 9),
 ('Employees', 9),
 ('Peter Frampton', 9),
 ('Businesswoman', 9),
 ('Michael Buffer', 9),
 ('Wealthy Dowager', 9),
 ('Stranger', 9),
 ('Stephen Jay Gould', 9),
 ('Passengers', 9),
 ("Homer's Voice", 9),
 ('Station Manager', 9),
 ('Bono', 9),
 ('Studio Audience', 9),
 ('Jerry Springer', 9),
 ('Omnitouch Rep', 9),
 ('Researcher #1', 9),
 ('French Chef', 9),
 ('LARGO', 9),
 ('State Comptroller Atkins', 9),
 ('Duncan', 9),
 ('Tourist', 9),
 ('Willie Nelson', 9),
 ('FBI MAN', 9),
 ('Party Posse', 9),
 ('Linguo', 9),
 ('Connie Appleseed', 9),
 ('Montymort', 9),
 ('Cora', 9),
 ('Elvis Costello', 9),
 ('Robot #2', 9),
 ('Booberella', 9),
 ('Miss Wickerbottom', 9),
 ('Deion Overstreet', 9),
 ('ARCHANGEL', 9),
 ('Male Crowd', 9),
 ('Old Robot', 9),
 ('Francesca Terwilliger', 9),
 ('Golem', 9),
 ('Orson Welles', 9),
 ('Recruiter #2', 9),
 ('Meaux', 9),
 ('Bart-man', 9),
 ('JULIA', 9),
 ('Gerta', 9),
 ('UNCLE ZACK', 9),
 ('Adriatica Vel Johnson', 9),
 ('Lisa Puppy', 9),
 ('Quenly', 9),
 ('Bashir', 9),
 ('Nat Gladness', 9),
 ('Pin Dealer', 9),
 ('WALT', 9),
 ('Dick Cheney', 9),
 ('Ewell Freestone', 9),
 ('Foie Greg', 9),
 ('Thug', 9),
 ('Skippy', 9),
 ('School Therapist', 9),
 ('Monsarno Rep', 9),
 ('Mrs. Trunch', 9),
 ('DUM', 9),
 ('Champ', 9),
 ('Dan Hoard', 9),
 ('Cable Guy', 9),
 ('Worm Man', 8),
 ('Leon Kompowsky', 8),
 ('Collection Agent', 8),
 ('Calm Woman', 8),
 ('Princess Kashmir', 8),
 ('Teenage Clerk', 8),
 ('Bernard', 8),
 ('Ozzie Smith', 8),
 ('Ted', 8),
 ('Ticket Taker', 8),
 ('Sylvia Winfield', 8),
 ('Butler', 8),
 ('General', 8),
 ('Nun', 8),
 ('Herb Powell', 8),
 ('Mom', 8),
 ('Martin Prince, Sr.', 8),
 ('Queen Elizabeth II', 8),
 ('Barker', 8),
 ('Sidekick', 8),
 ('NIMOY', 8),
 ('Miss Springfield', 8),
 ('Husband', 8),
 ('Bette Midler', 8),
 ('Be Sharps', 8),
 ('Nrc Man', 8),
 ('Security Guard #1', 8),
 ('Ernest Borgnine', 8),
 ('French Waiter', 8),
 ('Deep Voice', 8),
 ('Innkeeper', 8),
 ('Fortune Teller', 8),
 ('Executive #3', 8),
 ('Executive #1', 8),
 ('Editor', 8),
 ('Officer Noble', 8),
 ('Tom Kite', 8),
 ('KANG-DOLE', 8),
 ('Prisoners', 8),
 ('Young Dr. Foster', 8),
 ('Nedward Flanders, Sr.', 8),
 ('Poochie', 8),
 ('Betty', 8),
 ('Constable Wiggum', 8),
 ('Security Salesman', 8),
 ('Guests', 8),
 ('Cookie', 8),
 ('Agent Miller', 8),

# 2. Quora dataset

<img src="https://images.unsplash.com/photo-1649180573784-bd23dbe5606a?q=80&w=2062&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="500" height="300"/>
<br>
출처 : https://images.unsplash.com/photo-1649180573784-bd23dbe5606a?q=80&w=2062&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D

#### 데이터 소개 : 네이버의 지식IN과 비슷한 목적을 가진 플랫폼인 Quora에서, 유사한 질문들을 모아둔 데이터 셋.
#### 데이터 활용 목적 : Embedding을 기반으로 유사한 질문을 탐색하는 실습에 활용

- datasets 패키지 활용

In [2]:
from datasets import load_dataset
import pandas as pd

dataset = load_dataset("quora")

In [3]:
dataset.keys()

dict_keys(['train'])

In [4]:
raw_df = dataset["train"].to_pandas()

In [5]:
raw_df.head()

                                           questions  is_duplicate
0  {'id': [1, 2], 'text': ['What is the step by s...         False
1  {'id': [3, 4], 'text': ['What is the story of ...         False
2  {'id': [5, 6], 'text': ['How can I increase th...         False
3  {'id': [7, 8], 'text': ['Why am I mentally ver...         False
4  {'id': [9, 10], 'text': ['Which one dissolve i...         False

In [6]:
raw_df.loc[0]['questions']

{'id': array([1, 2], dtype=int32),
 'text': array(['What is the step by step guide to invest in share market in india?',
        'What is the step by step guide to invest in share market?'],
       dtype=object)}

중복된 질문이라고 체크된 질문들만 선택

In [7]:
raw_df = raw_df.loc[raw_df['is_duplicate']==True].reset_index(drop=True)

In [8]:
raw_df.loc[0, 'questions']

{'id': array([11, 12], dtype=int32),
 'text': array(['Astrology: I am a Capricorn Sun Cap moon and cap rising...what does that say about me?',
        "I'm a triple Capricorn (Sun, Moon and ascendant in Capricorn) What does this say about me?"],
       dtype=object)}

In [9]:
# 중복되는 id를 개별 컬럼으로 배치
raw_df["q1"] = raw_df["questions"].apply(lambda q: q["text"][0])
raw_df["q2"] = raw_df["questions"].apply(lambda q: q["text"][1])
raw_df["id1"] = raw_df["questions"].apply(lambda q: q["id"][0])
raw_df["id2"] = raw_df["questions"].apply(lambda q: q["id"][1])

q1_to_q2 = raw_df.copy().rename(columns={"q1": "text", "id1": "id", "id2": "dq_id"}).drop(columns=["questions", "q2"])
q2_to_q1 = raw_df.copy().rename(columns={"q2": "text", "id2": "id", "id1": "dq_id"}).drop(columns=["questions", "q1"])
flat_df = pd.concat([q1_to_q2, q2_to_q1])

flat_df = flat_df.sort_values(by=['id']).reset_index(drop=True)

In [10]:
flat_df.head()

   is_duplicate                                               text  id  dq_id
0          True  Astrology: I am a Capricorn Sun Cap moon and c...  11     12
1          True  I'm a triple Capricorn (Sun, Moon and ascendan...  12     11
2          True                     How can I be a good geologist?  15     16
3          True          What should I do to be a great geologist?  16     15
4          True        How do I read and find my YouTube comments?  23     24

In [13]:
flat_df.loc[flat_df['id']==568]

      is_duplicate                                            text   id  dq_id
1263          True  How can I make money online with free of cost?  568    569
1265          True  How can I make money online with free of cost?  568   8268
1266          True  How can I make money online with free of cost?  568   5511

전체 데이터 중 작은 샘플만 활용

In [12]:
flat_df = flat_df.loc[((flat_df['id'] <= 15000) & (flat_df['dq_id'] <= 15000))]

In [17]:
flat_df.shape

(12574, 4)

In [18]:
flat_df.head()

   is_duplicate                                               text  id  dq_id
0          True  Astrology: I am a Capricorn Sun Cap moon and c...  11     12
1          True  I'm a triple Capricorn (Sun, Moon and ascendan...  12     11
2          True                     How can I be a good geologist?  15     16
3          True          What should I do to be a great geologist?  16     15
4          True        How do I read and find my YouTube comments?  23     24

In [19]:
# 각 질문 하나당 중복되는 질문 id를 list 형태로 저장
df = flat_df.drop_duplicates("id")
df.loc[:, "duplicated_questions"] = df["id"].apply(lambda qid: flat_df[flat_df["id"] == qid]["dq_id"].tolist())
df = df.drop(columns=["dq_id", "is_duplicate"])
df.loc[:, 'length'] = [len(x) for x in df['duplicated_questions']]

df.head()

/var/folders/qb/pcn25z7557z6y3v_54hpjjxw0000gn/T/ipykernel_73892/3005026438.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, "duplicated_questions"] = df["id"].apply(lambda qid: flat_df[flat_df["id"] == qid]["dq_id"].tolist())

,text,id,duplicated_questions,length
0,Astrology: I am a Capricorn Sun Cap moon and c...,11,[12],1
1,"I'm a triple Capricorn (Sun, Moon and ascendan...",12,[11],1
2,How can I be a good geologist?,15,[16],1
3,What should I do to be a great geologist?,16,[15],1
4,How do I read and find my YouTube comments?,23,[24],1

In [20]:
df.loc[[len(i)>2 for i in df.duplicated_questions]]

,text,id,duplicated_questions,length
14,What would a Trump presidency mean for current...,31,"[6937, 12544, 11435, 32, 1101]",5
24,How will a Trump presidency affect the student...,32,"[2067, 1100, 6937, 12544, 31, 1101, 2066, 1143...",10
46,Why are so many Quora users posting questions ...,37,"[12639, 1358, 4951, 1357, 6551, 38]",6
63,Why do people ask Quora questions which can be...,38,"[4950, 4407, 4408, 6552, 6551, 12638, 5041, 12...",14
126,What is best way to make money online?,57,"[6800, 12851, 13144, 6099, 4038, 8037, 6799, 1...",23
...,...,...,...,...
33034,Where can you find out what needs to be improv...,14958,"[14288, 967, 966, 2929]",4
33047,Which is the best way to learn hacking just as...,14962,"[8240, 14963, 14168, 14167, 8401, 8400, 8241]",7
33080,What are the safety precautions on handling sh...,14966,"[1596, 10671, 12719, 8119, 5903, 5434, 1595, 1...",10
33112,How did the 2016 US election polls get it so w...,14976,"[14977, 10435, 10434]",3
33163,When a question on Quora is marked as 'needing...,14999,"[966, 2929, 2930, 11797, 967]",5

In [21]:
df.to_csv("quora_dataset.csv", index=False)

In [22]:
df.shape

(5539, 4)

# 3. ABC News dataset

<img src="https://s.abcnews.com/images/US/abc_news_default_2000x2000_update_16x9_992.jpg" width="500" height="300"/>

출처 : https://s.abcnews.com/images/US/abc_news_default_2000x2000_update_16x9_992.jpg

- 다운로드 : https://www.kaggle.com/datasets/therohk/million-headlines

#### 데이터 소개 : ABC news의 날짜와 헤드라인
#### 데이터 활용 목적 : Embedding을 다양한 machine learning 모델들과 결합하여 정보를 처리하는 방법 소개

In [23]:
df = pd.read_csv("abcnews.csv")

In [24]:
df.shape

(1244184, 2)

In [25]:
df.head()

   publish_date                                      headline_text
0      20030219  aba decides against community broadcasting lic...
1      20030219     act fire witnesses must be aware of defamation
2      20030219     a g calls for infrastructure protection summit
3      20030219           air nz staff in aust strike for pay rise
4      20030219      air nz strike to affect australian travellers

In [26]:
df.publish_date.max(), df.publish_date.min()

(20211231, 20030219)

In [27]:
news_2020 = df.loc[(df['publish_date']>=20200101) & (df['publish_date']<20200201)].reset_index(drop=True)

In [28]:
news_2020.head()

   publish_date                                      headline_text
0      20200101          a new type of resolution for the new year
1      20200101  adelaide records driest year in more than a de...
2      20200101  adelaide riverbank catches alight after new ye...
3      20200101   adelaides 9pm fireworks spark blaze on riverbank
4      20200101  archaic legislation governing nt women propert...

In [29]:
news_2020.tail()

      publish_date                                      headline_text
2442      20200131                   who coronavirus global emergency
2443      20200131  who declares coronavirus outbreak as global he...
2444      20200131  will travel insurance cover trip cancelled ove...
2445      20200131  world youngest leader 33 years old offers hope...
2446      20200131                              wuhan evacuation form

In [30]:
news_2020.to_csv("abcnews_2020.csv", index=False)

# 4. Resume data

<img src="https://images.unsplash.com/photo-1698047681432-006d2449c631?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="500" height="300"/>

- 출처 : https://images.unsplash.com/photo-1698047681432-006d2449c631?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
- 다운로드 : https://www.kaggle.com/datasets/snehaanbhawal/resume-dataset/data

#### 데이터 소개 : livecareer.com 에서 발췌한 예시 resume
#### 데이터 활용 목적 : Search 최적화를 통한 간단한 서비스 구현. 우리가 요구하는 스킬과 경험을 갖고 있는 후보 search!

In [31]:
resume = pd.read_csv("resume/Resume.csv")

In [32]:
resume.head()

,ID,Resume_str,Resume_html,Category
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",HR
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",HR
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",HR
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",HR
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...",HR

In [33]:
resume.Category.unique()

array(['HR', 'DESIGNER', 'INFORMATION-TECHNOLOGY', 'TEACHER', 'ADVOCATE',
       'BUSINESS-DEVELOPMENT', 'HEALTHCARE', 'FITNESS', 'AGRICULTURE',
       'BPO', 'SALES', 'CONSULTANT', 'DIGITAL-MEDIA', 'AUTOMOBILE',
       'CHEF', 'FINANCE', 'APPAREL', 'ENGINEERING', 'ACCOUNTANT',
       'CONSTRUCTION', 'PUBLIC-RELATIONS', 'BANKING', 'ARTS', 'AVIATION'],
      dtype=object)

--END--